/*Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Indie+Flower&display=swap'); 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/*Navigation Bar Menu*/
nav {
    position: fixed;
    width: 100%;
    padding: 20px 0;
    font-family: sans-serif;
    transition: all 0.4s ease;
    z-index: 998;
}
nav .navbar {
   width: 90%;
   margin: auto; 
   display: flex;
   align-items: center;
   justify-content: space-between; 
   background: #CC9999
}
 nav .navbar .logo a{
    font-size: 40px;
    font-weight: 500;
    color: #595d5d;;
}
nav .navbar .menu {
    display: flex;
    position: relative;
}
 nav .navbar .menu li {
    margin: 0 8px;
    list-style: none;   
}
.navbar .menu a{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    transform: all 0.3s easy;
    padding: 5px 0;
}
.navbar .media-icons a{
    font-size: 18px;
    margin: 0 6px;
    color: #595d5d;
}
.navbar .menu li a:hover {
    color: pink;
    text-decoration: none;
    text-transform: uppercase;
}

/*Sticky Nav*/
nav.sticky {
    padding: 13px 0;
    background: #CC9999; /*rosegold color*/
    border: solid 3px #fff;
} 
nav.sticky .navbar .logo a {
    color: rgb(62, 58, 58);
 }
nav.sticky .navbar .menu li a {
    color: #FFF;
}
nav.sticky .navbar .menu li a:hover {
    color: pink;
}
nav.sticky .navbar .media-icons a {
    color: #FFF;
}
/* Side Nav Menu Btns*/

nav .menu-btn,
 .navbar .cancel-btn {
    position: absolute;
    color: rgba(225, 13, 13, 0.872);
    font-size: 20px;
    right: 30px;
    top: 20px;
     
    display: none;
    transition: all 0.3s ease;
}
 
nav .menu-btn{
    color: black;
}

nav.sticky .menu-btn{
    color: black;
  }
  .navbar .menu .menu-btn{
    color: black;
  } 

/*--Home Section--*/
.home {
    height: 100vh;
    width: 100%;
    background: url("img/PinkdesK.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
    
}
.home .home-content {
    height: 100%;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home .text .text-one {
    font-size: 25px;
}
.home .text .text-two {
    font-size: 75px;
    font-weight: 500;
    margin-left: -3px;
}
.home .text .text-three {
    font-size: 35px;
}

/*-- animation home text--*/
.wrapper{
    display: flex;
    align-items: baseline;
  }
  .wrapper .static-txt{
    color: #fff;
    font-size: 45px;
    font-weight: 400;
  }
  .wrapper .dynamic-txts{
    margin-left: 15px;
    height: 70px;
    line-height: 20px;
    overflow: hidden;
  }
  .dynamic-txts li{
    list-style: none;
    color: #CC9999;
    font-size: 45px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 4s steps(4) infinite;
  }
  @keyframes slide {
    100%{
      top: -360px;
    }
  }
  .dynamic-txts li span{
    position: relative;
    margin: 5px 0;
    line-height: 90px;
  }
  .dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    animation: typing 3s steps(16) infinite;
  }
  @keyframes typing {
    40%, 60%{
      left: calc(100% + 30px);
    } 100%{
      left: 0;
    }
  }

/*Same elements in all sections*/
section {
    padding-top: 20px;
}
section .content {
    width: 80%;
    margin: 20px auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
section .title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
   
}
section .title span {
    font-size: 40px;
    font-weight: 600;
    position: relative;
    padding-bottom: 5px;
}
section .topic {
    font-size: 25px;
    font-weight: 500;
    color: pink;
    margin-bottom: 10px;
}

/*--About Me Section--*/
.about-me .about-me-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.about-me .about-me-details  {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about-me .about-me-details .right {
    width: 45%;
}
.about-me .about-me-details .right img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 12px;
}
.about-me .about-me-details .left {
    width: 55%;
}
.about-me-details .left p {
 text-align: justify;   
}


/*--Skills Section--*/
.skills {
    background-color: #CC9999;
}
.skills .content {
    padding: 40px 0;
}
.skills .skills-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-details .left {
    width: 40%;
}
.skills-details .left p {
    text-align: justify;
}
/*puede ser esta o la de abajo - .skills .skills-details .experience*/
.skills-details .left .experience {
    display: flex;
    align-items: center;
    margin: 0 10px;
}
/*puede ser esta o la de abajo - .skills-details .left .experience .num*/
.skills-details .experience .num {
    font-size: 80px;
    font-weight: 500;
}

 .skills-details .boxes {
    width: 45%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
 .skills-details .box {
    width: calc(100% / 2 - 20px);
    margin: 20px 0;
}
.skills-details .boxes .topic {
    font-size: 20px;
    font-weight: 500 ;
    color: #FFF;
}
.skills-details .boxes .box .num {
    font-size: 50px;
    font-weight: 500 ;
   color: #FFF;
}

/*--My projects Section--*/
.projects .boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .projects .boxes .box {
    margin: 20px 0;
    width: calc(100% / 3 - 20px);
    text-align: center;
    border-radius: 12px;
    padding: 30px 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    cursor: default;
    transition: all 0.4s ease;
    background-color: #CC9999;
  }
  .projects .boxes .box:hover{
    background: #fff;
    color: #CC9999;
    box-shadow: 0 5px 10px #CC9999;
  }
 
  .projects .boxes .box:hover .topic,
  .projects .boxes .box:hover p{
    color: #CC9999;
    transition: all 0.4s ease;
   
  }
 
  .card img {
    height: 20%;
  }
  .projects .button {
    background-color: #CC9999;
    border: 2px #fff solid;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    width: 40%;
}
.projects .button a {
    color: #fff;
}
.projects .button:hover {
    background-color: blue;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

  

/*--Contact Me Section--*/
  .contact-me{
    background: #CC9999;
  }
  .contact-me .content{
    margin: 0 auto;
    padding: 30px 0;
  }
  .contact-me .text{
    width: 80%;
    text-align: center;
    margin: auto;
  }
/*--Contact Me Section--//Form--*/
form input {
    width: 60%;
    height: 40px;
    padding: 5px;
    margin: 10px;
    border: 2px #CC9999 solid;
    border-radius: 10px;
    /*I can add a color to the text when they type once I decide the correct colors */
}
form textarea {
width: 60%;
height: 200px;
border: 2px #CC9999 solid;
border-radius: 8px;
}
form .submit {
    background-color: #CC9999;
    border: 2px #fff solid;
    color: #fff;
    font-size: 15px;
    border-radius: 30px;
    width: 20%;
}
form .submit:hover {
    background-color: #CC9999;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
  
  /* Footer CSS */
  footer{
    background: #fff;
    padding: 15px 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
  footer .text {
    font-size: 12px;
    font-weight: 300;
    color: #CC9999;
  }
  footer .text .signature {
    font-size: 20px;
    font-family: cursive;
  }
 
  /* Scroll TO Top Button CSS */
  .scroll-btn i{
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #fff;
    border: 2px solid white;
    background: #CC9999;
    padding: 10px 12px;
    font-size: 18px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15);
    
  }


/*Reponsive Media Query*/
 @media (max-width: 1190px) {
    section .content {
        width: 90%;
    }
}
@media (max-width: 1090px) {
    .about-me .about-me-details {
        flex-direction: column;
    }
    .about-me .about-me-details .right{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .about-me .about-me-details .left {
        width: 90%;
        margin: 40px 0;
    }
    .contact-me .text{
        width: 90%;
      }
      
}
@media (max-width: 971px) {
    .about-me .about-me-details .right img {
        height: 350px;
        width: 350px;
    }
    .projects .boxes .box{
        width: calc(100% / 2 - 20px);
    }
} 
@media (max-width: 750px) {
    nav .navbar .menu {
        position: absolute;
        left: -100%;
        top: 0;
        height: 100vh;
        max-width: 400px;
        width: 100%;
        background: #0E2431;
        flex-direction: column;
        align-items: center;
        padding-top: 60px;
        transition: all 0.5s ease;
    }
    nav .navbar.active .menu {
        left: 0;
    }
   
    .navbar .menu li a{
        display: block;
        margin: 10px 0;
        font-size: 23px;
        color: #FFF
    }
    .navbar .media-icons a {
        display: none;
    }
    
    nav.sticky .navbar .menu li a:hover {
        color: pink;

    }
    
    
  nav .menu-btn, .navbar .cancel-btn {
        display: block;
    }
    .home .text .text-two {
        font-size: 65px;
    }
    .home .text .text-three {
        font-size: 35px;
    }
    .skills .skills-details {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .skills .skills-details .left {
        width: 90%;
    }
    .skills .skills-details .boxes {
        width: 90%;
        margin: 40px 0;
    }
    .projects .boxes .box{
        width: 100%;
    }
    .contact-me .text{
        width: 100%;
      }
} 
/*--Cellphone Size--*/
@media (max-width: 510px) {
    .home .text .text-two {
        font-size: 55px;
    }
    .home .text .text-three {
        font-size: 33px;
    }
}